@charset "UTF-8";


body {
    background: #000;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


.form-container,
.card {
    background: #1c1c1c; 
    border: 1px solid #333; 
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 700px; 
    margin-bottom: 20px;
}

h1 {
    font-family: "Open Sans", serif;
    color:  #ff8c3a;
    margin-bottom: 25px;
    font-size: 1.8rem;
    text-align: center; 
    width: 100%;

}

h2 {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 300;
}


label {
    color: #ff8c3a;
    font-family: "Open Sans", sans-serif;
    font-weight: 600; 
    display: block;
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 1rem;
}


input[type="text"],
input[type="number"],
input[type="url"],
input[type="date"],
select {
    width: 100%;
    background: #2a2a2a; 
    color: #fff;
    border-radius: 8px;
    border: 1px solid #333; 
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 1rem;
    appearance: none; 
}


textarea {
    width: 100%;
    min-height: 150px;
    background: #2a2a2a;
    color: #fff;
    border-radius: 8px;
    border: 1px solid #333; 
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 1rem;
}


input:focus,
textarea:focus,
select:focus {
    border-color: #712cd9; 
    outline: none;
}


.btn,
.button {

    background: linear-gradient(to right, #f88736, #9147ff);
    color: #fff; 
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 25px;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    transition: opacity 0.3s;
}

.btn:hover,
.button:hover {
    opacity: 0.9;
}


.card {
    
    background: #1c1c1c; 
    border: 1px solid #333; 
    padding: 30px;
    border-radius: 12px;
}

.small {
    font-size: 0.9rem;
    color: #ccc; 
}

a {
    
    color: #cb7c22; 
    text-decoration: none;
}

.user-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #7236cb; 
    color: #000;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}