@charset "UTF-8";

body {
    background: #000;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-card {
    background: #1c1c1c;
    border: 1px solid #333;
    padding: 40px 30px;
    border-radius: 20px;
    margin-bottom: 12px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 300;
}

label,
textarea {
    display: none;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #333;
    background: #2a2a2a;
    color: #fff;
    box-sizing: border-box;
    margin-bottom: 15px;
}

input:focus {
    border-color: #9147ff;
    outline: none;
}

.login-button {
    background: linear-gradient(to right, #3c084b, #9147ff);
    color: #fff;
    border: none;
    padding: 15px 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    font-size: 1.1rem;
    font-weight: bold;
    transition: opacity 0.3s;
}

.login-button:hover {
    opacity: 0.9;
}

.extra-links {
    text-align: center;
    margin-top: 20px;
}

.extra-links p {
    font-size: 0.9rem;
    color: #ccc;
}

a {
    color: #760eb3;
    text-decoration: none;
    font-weight: bold;
}

.small {
    font-size: 0.9rem;
    color: #ccc;
}

.user-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #703cbf;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card header img.logo1 {
    display: block;            
    width: 120px;              
    max-width: 100%;           
    height: auto;              
    max-height: 220px;         
    margin: 30px auto 20px;    
    object-fit: contain;       
}

