@charset "UTF-8";



body {
    background: #000; 
    color: #fff; 
    font-family: "Open Sans", sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-family: "Lora", serif;
    color: #9147ff; 
    margin-bottom: 12px;
    text-align: center; 
}

.card {
    background: #1c1c1c; 
    border: 1px solid #333; 
    padding: 40px 30px; 
    border-radius: 20px; 
    margin-bottom: 12px;
    max-width: 400px; 
}

label {
    color: #fff;
    font-family: "Lora", serif;
    font-weight: bold;
    display: block;
    margin-top: 8px;
}

textarea {
    width: 100%;
    min-height: 110px;
    background: #2a2a2a; 
    color: #fff;
    border-radius: 10px;
    border: 3px solid #9147ff; 
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 15px; 
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 15px; 
    border-radius: 8px; 
    border: 1px solid #333; 
    background: #2a2a2a; 
    color: #fff; 
    box-sizing: border-box;
    margin-bottom: 15px; 
}

.btn {
   
    background: linear-gradient(to right, #ff8c3a, #9147ff);
    color: #fff; 
    border: none;
    padding: 15px 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    font-size: 1.1rem;
    font-weight: bold;
}

.small {
    font-size: 0.9rem;
    color: #ccc; 
}

a {
    color: #ffc800;
    text-decoration: none;
}

.user-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #703cbf; /
    color: #000;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}